.add-card {
  text-align: center;
  width: 20%;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 5%;
}

.add-card-item {
  font-weight: bold;
  padding-bottom: 40px;
}

.add-item {
  margin-top: 20px;
}

.add-item input {
  margin-top: 5px;
  width: 100%;
}

.add-card button {
  margin-top: 10px;
  height: 30px;
  width: 80px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5%;
  background-color: rgb(47, 174, 47);
}

.add-card button:hover {
  background-color: rgb(32, 120, 32);
  font-weight: bold;
}
