.card {
  margin: 20px;
  width: 20%;
  height: 300px;
  border: 2px solid #333;
}

.card-header {
  border-bottom: 2px solid rgb(79, 73, 73);
  text-align: center;
  padding: 10px;
}

.card-text {
  padding: 5px;
}
