.card {
  border: 2px solid #333;
  height: inherit;
  word-wrap: break-word;
}

.card-checked {
  border: 2px solid rgb(176, 142, 142);
  height: inherit;
}

.card-header {
  margin-top: 5px;
  border-bottom: 2px solid rgb(79, 73, 73);
  text-align: center;
  height: 40px;
}

.updated-header {
  width: 70px;
}

.right {
  float: right;
}

.card-text {
  padding: 5px;
}

.dn {
  display: none;
}

input {
  outline: 0;
}

p {
  margin: 0;
  padding: 0;
}
