.App-header {
  background-color: #222;
  height: 50px;
  padding: 10px;
  color: white;
}

.App-title {
  text-align: center;
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.card-size {
  margin: 20px;
  width: 20%;
  height: 300px;
}

.view-mode {
  margin: 10px 0px 0px 18px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}
